In [56]:
import pandas as pd
total = pd.read_csv("./drive/MyDrive/733_project/weather_merged/etl_filtered.csv")
total=total.iloc[:,1:].drop(["TOBS","SNOW","SNWD"],axis=1)

total["datetime"]=total.datetime.astype('datetime64[ns]')

In [57]:
import datetime
def datetime_to_float(d):
    dtime=d["datetime"]
    epoch = datetime.datetime.utcfromtimestamp(0)
    total_seconds =  (dtime - epoch).total_seconds()
    # total_seconds will be in decimals (millisecond precision)
    return total_seconds
total["second"]=total.apply(datetime_to_float,axis=1)

In [60]:

# copy the data
max_scaled = total.copy()

for column in ["second","LONGITUDE_x","LATITUDE_x"]:
    max_scaled[column] = max_scaled[column]  / max_scaled[column].abs().max()
max_scaled

,FIRE_YEAR,DISCOVERY_DOY,STAT_CAUSE_DESCR,STAT_CAUSE_CODE,CONT_DATE,DISCOVERY_DATE,CONT_DOY,DISCOVERY_TIME,CONT_TIME,FIRE_SIZE,...,STATE,datetime,population_density,ELEVATION,AWND,PRCP,TMAX,TMIN,distance,second
0,2011,47,Debris Burning,5.0,2455608.5,2455608.5,47.0,1300.0,1530.0,26.0,...,AL,2011-02-16,7.572142,100.6,NaN,0.0,71.0,32.0,0.141421,0.894107
1,2011,47,Debris Burning,5.0,2455610.5,2455608.5,49.0,820.0,1500.0,22.0,...,AL,2011-02-16,31.442815,201.5,NaN,0.0,NaN,NaN,0.100000,0.894107
2,2011,48,Arson,7.0,2455609.5,2455609.5,48.0,2030.0,2300.0,209.0,...,AL,2011-02-17,7.572142,100.6,NaN,0.0,70.0,33.0,0.200000,0.894167
3,2011,50,Arson,7.0,2455617.5,2455611.5,56.0,1800.0,1500.0,645.0,...,AL,2011-02-19,49.942890,182.9,NaN,0.0,66.0,49.0,0.282843,0.894286
4,2011,51,Debris Burning,5.0,2455625.5,2455612.5,64.0,1500.0,1900.0,231.0,...,AL,2011-02-20,49.942890,189.0,NaN,0.0,NaN,NaN,0.100000,0.894345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367739,2015,75,Miscellaneous,9.0,NaN,2457097.5,NaN,NaN,NaN,2.1,...,VA,2015-03-16,33.568885,283.5,NaN,0.0,61.0,39.0,0.100000,0.982738
367740,2015,95,Miscellaneous,9.0,NaN,2457117.5,NaN,NaN,NaN,1.0,...,VA,2015-04-05,33.568885,283.5,NaN,0.0,57.0,39.0,0.100000,0.983929
367741,2015,37,Miscellaneous,9.0,NaN,2457059.5,NaN,NaN,NaN,2.0,...,VA,2015-02-06,38.354455,247.8,NaN,0.0,NaN,NaN,0.100000,0.980476
367742,2015,89,Miscellaneous,9.0,NaN,2457111.5,NaN,NaN,NaN,2.0,...,VA,2015-03-30,38.354455,208.2,NaN,0.0,NaN,NaN,0.141421,0.983571
367743,2015,39,Miscellaneous,9.0,NaN,2457061.5,NaN,NaN,NaN,0.5,...,VA,2015-02-08,74.304005,634.0,NaN,0.0,57.0,24.0,0.100000,0.980595

In [64]:
sum(total["CONT_DATE"].isna()) 
sum(total["CONT_DOY"].isna())
# 84455
sum(total["DISCOVERY_TIME"].isna())
# 75539
sum(total["CONT_TIME"].isna())
# 109865
sum(total["ELEVATION"].isna())
# 734
sum(total["AWND"].isna())
# 344685
sum(total["PRCP"].isna())
# 53923
sum(total["TMAX"].isna())  
# TMIN
# 168129

168291

In [99]:
unfilled_table=max_scaled[max_scaled["ELEVATION"].isna()]
unfilled_table
filled_table=max_scaled[max_scaled["ELEVATION"].notnull()]
filled_table

,FIRE_YEAR,DISCOVERY_DOY,STAT_CAUSE_DESCR,STAT_CAUSE_CODE,CONT_DATE,DISCOVERY_DATE,CONT_DOY,DISCOVERY_TIME,CONT_TIME,FIRE_SIZE,...,STATE,datetime,population_density,ELEVATION,AWND,PRCP,TMAX,TMIN,distance,second
0,2011,47,Debris Burning,5.0,2455608.5,2455608.5,47.0,1300.0,1530.0,26.0,...,AL,2011-02-16,7.572142,100.6,8.062714,0.0,71.000000,32.000000,0.141421,0.894107
1,2011,47,Debris Burning,5.0,2455610.5,2455608.5,49.0,820.0,1500.0,22.0,...,AL,2011-02-16,31.442815,201.5,8.048481,0.0,76.942800,49.340830,0.100000,0.894107
2,2011,48,Arson,7.0,2455609.5,2455609.5,48.0,2030.0,2300.0,209.0,...,AL,2011-02-17,7.572142,100.6,8.064342,0.0,70.000000,33.000000,0.200000,0.894167
3,2011,50,Arson,7.0,2455617.5,2455611.5,56.0,1800.0,1500.0,645.0,...,AL,2011-02-19,49.942890,182.9,8.037152,0.0,66.000000,49.000000,0.282843,0.894286
4,2011,51,Debris Burning,5.0,2455625.5,2455612.5,64.0,1500.0,1900.0,231.0,...,AL,2011-02-20,49.942890,189.0,8.042611,0.0,76.657125,49.084371,0.100000,0.894345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367739,2015,75,Miscellaneous,9.0,NaN,2457097.5,NaN,NaN,NaN,2.1,...,VA,2015-03-16,33.568885,283.5,7.366097,0.0,61.000000,39.000000,0.100000,0.982738
367740,2015,95,Miscellaneous,9.0,NaN,2457117.5,NaN,NaN,NaN,1.0,...,VA,2015-04-05,33.568885,283.5,7.358285,0.0,57.000000,39.000000,0.100000,0.983929
367741,2015,37,Miscellaneous,9.0,NaN,2457059.5,NaN,NaN,NaN,2.0,...,VA,2015-02-06,38.354455,247.8,7.406834,0.0,70.218508,43.916184,0.100000,0.980476
367742,2015,89,Miscellaneous,9.0,NaN,2457111.5,NaN,NaN,NaN,2.0,...,VA,2015-03-30,38.354455,208.2,7.384267,0.0,69.862021,43.603630,0.141421,0.983571
367743,2015,39,Miscellaneous,9.0,NaN,2457061.5,NaN,NaN,NaN,0.5,...,VA,2015-02-08,74.304005,634.0,7.416477,0.0,57.000000,24.000000,0.100000,0.980595

In [100]:
from sklearn.linear_model import LinearRegression

unfilled_X=unfilled_table[["second","LATITUDE_x","LONGITUDE_x"]]
unfilled_y = unfilled_table[["ELEVATION"]]
filled_X=filled_table[["second","LATITUDE_x","LONGITUDE_x"]]
filled_y=filled_table[["ELEVATION"]]

model_unfilled=LinearRegression()
model_filled=LinearRegression()
# lr_unfilled=model_unfilled.fit(unfill_X,PSID_y)
lr_filled=model_filled.fit(filled_X,filled_y)

unfilled_table["ELEVATION"]=lr_filled.predict(unfilled_X)
max_scaled.loc[unfilled_table.index,"ELEVATION"]=unfilled_table["ELEVATION"]
max_scaled

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

,FIRE_YEAR,DISCOVERY_DOY,STAT_CAUSE_DESCR,STAT_CAUSE_CODE,CONT_DATE,DISCOVERY_DATE,CONT_DOY,DISCOVERY_TIME,CONT_TIME,FIRE_SIZE,...,STATE,datetime,population_density,ELEVATION,AWND,PRCP,TMAX,TMIN,distance,second
0,2011,47,Debris Burning,5.0,2455608.5,2455608.5,47.0,1300.0,1530.0,26.0,...,AL,2011-02-16,7.572142,100.6,8.062714,0.0,71.000000,32.000000,0.141421,0.894107
1,2011,47,Debris Burning,5.0,2455610.5,2455608.5,49.0,820.0,1500.0,22.0,...,AL,2011-02-16,31.442815,201.5,8.048481,0.0,76.942800,49.340830,0.100000,0.894107
2,2011,48,Arson,7.0,2455609.5,2455609.5,48.0,2030.0,2300.0,209.0,...,AL,2011-02-17,7.572142,100.6,8.064342,0.0,70.000000,33.000000,0.200000,0.894167
3,2011,50,Arson,7.0,2455617.5,2455611.5,56.0,1800.0,1500.0,645.0,...,AL,2011-02-19,49.942890,182.9,8.037152,0.0,66.000000,49.000000,0.282843,0.894286
4,2011,51,Debris Burning,5.0,2455625.5,2455612.5,64.0,1500.0,1900.0,231.0,...,AL,2011-02-20,49.942890,189.0,8.042611,0.0,76.657125,49.084371,0.100000,0.894345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367739,2015,75,Miscellaneous,9.0,NaN,2457097.5,NaN,NaN,NaN,2.1,...,VA,2015-03-16,33.568885,283.5,7.366097,0.0,61.000000,39.000000,0.100000,0.982738
367740,2015,95,Miscellaneous,9.0,NaN,2457117.5,NaN,NaN,NaN,1.0,...,VA,2015-04-05,33.568885,283.5,7.358285,0.0,57.000000,39.000000,0.100000,0.983929
367741,2015,37,Miscellaneous,9.0,NaN,2457059.5,NaN,NaN,NaN,2.0,...,VA,2015-02-06,38.354455,247.8,7.406834,0.0,70.218508,43.916184,0.100000,0.980476
367742,2015,89,Miscellaneous,9.0,NaN,2457111.5,NaN,NaN,NaN,2.0,...,VA,2015-03-30,38.354455,208.2,7.384267,0.0,69.862021,43.603630,0.141421,0.983571
367743,2015,39,Miscellaneous,9.0,NaN,2457061.5,NaN,NaN,NaN,0.5,...,VA,2015-02-08,74.304005,634.0,7.416477,0.0,57.000000,24.000000,0.100000,0.980595

In [108]:
total=total.drop(["second"],axis=1)
total["TMIN"]=max_scaled["TMIN"]
total["TMAX"]=max_scaled["TMAX"]
total["PRCP"]=max_scaled["PRCP"]
total["AWND"]=max_scaled["AWND"]
total["ELEVATION"]=max_scaled["ELEVATION"]
total.to_csv('./drive/MyDrive/733_project/weather_merged/etl_filtered_v1.csv')