In [ ]:
#google colab setup
# !sudo apt-get install build-essential swig 
# !pip install auto-sklearn==0.11.1

In [1]:
import pandas as pd
import os
from sklearn.preprocessing import OneHotEncoder
# import featuretools as ft
import numpy as np

## frequency of monthly wildfire by states ##

In [2]:
# df = pd.read_csv('./DATA/etl_filtered_v1.csv')
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/733project/etl_filtered_v1.csv')
df['month'] = pd.DatetimeIndex(df['datetime']).month
df

,Unnamed: 0,FIRE_YEAR,DISCOVERY_DOY,STAT_CAUSE_DESCR,STAT_CAUSE_CODE,CONT_DATE,DISCOVERY_DATE,CONT_DOY,DISCOVERY_TIME,CONT_TIME,...,STATE,datetime,population_density,ELEVATION,AWND,PRCP,TMAX,TMIN,distance,month
0,0,2011,47,Debris Burning,5.0,2455608.5,2455608.5,47.0,1300.0,1530.0,...,AL,2011-02-16,7.572142,100.6,8.062714,0.0,71.000000,32.000000,0.141421,2
1,1,2011,47,Debris Burning,5.0,2455610.5,2455608.5,49.0,820.0,1500.0,...,AL,2011-02-16,31.442815,201.5,8.048481,0.0,76.942800,49.340830,0.100000,2
2,2,2011,48,Arson,7.0,2455609.5,2455609.5,48.0,2030.0,2300.0,...,AL,2011-02-17,7.572142,100.6,8.064342,0.0,70.000000,33.000000,0.200000,2
3,3,2011,50,Arson,7.0,2455617.5,2455611.5,56.0,1800.0,1500.0,...,AL,2011-02-19,49.942890,182.9,8.037152,0.0,66.000000,49.000000,0.282843,2
4,4,2011,51,Debris Burning,5.0,2455625.5,2455612.5,64.0,1500.0,1900.0,...,AL,2011-02-20,49.942890,189.0,8.042611,0.0,76.657125,49.084371,0.100000,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367739,367739,2015,75,Miscellaneous,9.0,NaN,2457097.5,NaN,NaN,NaN,...,VA,2015-03-16,33.568885,283.5,7.366097,0.0,61.000000,39.000000,0.100000,3
367740,367740,2015,95,Miscellaneous,9.0,NaN,2457117.5,NaN,NaN,NaN,...,VA,2015-04-05,33.568885,283.5,7.358285,0.0,57.000000,39.000000,0.100000,4
367741,367741,2015,37,Miscellaneous,9.0,NaN,2457059.5,NaN,NaN,NaN,...,VA,2015-02-06,38.354455,247.8,7.406834,0.0,70.218508,43.916184,0.100000,2
367742,367742,2015,89,Miscellaneous,9.0,NaN,2457111.5,NaN,NaN,NaN,...,VA,2015-03-30,38.354455,208.2,7.384267,0.0,69.862021,43.603630,0.141421,3
367743,367743,2015,39,Miscellaneous,9.0,NaN,2457061.5,NaN,NaN,NaN,...,VA,2015-02-08,74.304005,634.0,7.416477,0.0,57.000000,24.000000,0.100000,2

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# states = list(set(df.STATE.values))
# for i in states:
#     temp_df = df[df['STATE']==i]
#     temp_df = temp_df.groupby(['FIRE_YEAR', 'month']).agg(frequency=('FIRE_YEAR', 'count'))
#     dir = './DATA/monthly_with_year/'
#     if not os.path.exists(dir):
#         os.mkdir(dir)
#     path_name = dir + i + '.csv'
#     temp_df.to_csv(path_name)
# for i in states:
#     temp_df = df[df['STATE']==i]
#     temp_df = temp_df.groupby(['month']).agg(frequency=('FIRE_YEAR', 'count'))
#     dir = './DATA/monthly_without_year/'
#     if not os.path.exists(dir):
#         os.mkdir(dir)
#     path_name = dir + i + '.csv'
#     temp_df.to_csv(path_name)

In [6]:
# encoding state
enc = OneHotEncoder(handle_unknown='ignore')
X = df['STATE'].to_numpy().reshape(-1, 1)
enc.fit(X)
ec_df = pd.DataFrame(enc.transform(X).toarray())
ec_df = df.join(ec_df)
ec_df

,Unnamed: 0,FIRE_YEAR,DISCOVERY_DOY,STAT_CAUSE_DESCR,STAT_CAUSE_CODE,CONT_DATE,DISCOVERY_DATE,CONT_DOY,DISCOVERY_TIME,CONT_TIME,...,41,42,43,44,45,46,47,48,49,50
0,0,2011,47,Debris Burning,5.0,2455608.5,2455608.5,47.0,1300.0,1530.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2011,47,Debris Burning,5.0,2455610.5,2455608.5,49.0,820.0,1500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,2011,48,Arson,7.0,2455609.5,2455609.5,48.0,2030.0,2300.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,2011,50,Arson,7.0,2455617.5,2455611.5,56.0,1800.0,1500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,2011,51,Debris Burning,5.0,2455625.5,2455612.5,64.0,1500.0,1900.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367739,367739,2015,75,Miscellaneous,9.0,NaN,2457097.5,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
367740,367740,2015,95,Miscellaneous,9.0,NaN,2457117.5,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
367741,367741,2015,37,Miscellaneous,9.0,NaN,2457059.5,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
367742,367742,2015,89,Miscellaneous,9.0,NaN,2457111.5,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
367743,367743,2015,39,Miscellaneous,9.0,NaN,2457061.5,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [3]:
df.columns

Index(['Unnamed: 0', 'FIRE_YEAR', 'DISCOVERY_DOY', 'STAT_CAUSE_DESCR',
       'STAT_CAUSE_CODE', 'CONT_DATE', 'DISCOVERY_DATE', 'CONT_DOY',
       'DISCOVERY_TIME', 'CONT_TIME', 'FIRE_SIZE', 'FIRE_SIZE_CLASS',
       'LATITUDE_x', 'LONGITUDE_x', 'OWNER_CODE', 'OWNER_DESCR', 'STATE',
       'datetime', 'population_density', 'ELEVATION', 'AWND', 'PRCP', 'TMAX',
       'TMIN', 'distance', 'month'],
      dtype='object')

In [20]:
mean_pd = df[df['population_density']>=0].groupby('STATE')['population_density'].mean().reset_index()
# print(mean_pd)
ml_df = df[['month', 'STATE', 'TMAX', 'TMIN']]
ml_df = ml_df.groupby(['month', 'STATE']).agg({'month' : ['count'], 'TMAX' : 'mean', 'TMIN' : 'mean'}).reset_index()
# ml_df.columns = ml_df.columns.get_level_values(0)
ml_df.columns = [' '.join(col).strip() for col in ml_df.columns.values]
# print(ml_df)
merged = ml_df.merge(mean_pd, how='inner', left_on='STATE', right_on='STATE')
encoding = pd.get_dummies(merged.STATE)
merged = merged.join(encoding)
merged

,month,STATE,month count,TMAX mean,TMIN mean,population_density,AK,AL,AR,AZ,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,1,AK,2,26.500000,5.500000,3.536666,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,AK,3,21.666667,4.666667,3.536666,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,AK,19,37.421053,17.052632,3.536666,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,AK,145,51.228985,28.280824,3.536666,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,AK,771,65.722132,38.080121,3.536666,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598,7,DE,7,90.797158,69.309613,90.880529,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
599,8,DE,2,77.024819,56.101038,90.880529,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
600,9,DE,5,77.768067,56.033829,90.880529,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
601,10,DE,1,66.000000,60.000000,90.880529,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
602,12,DE,1,49.000000,24.000000,90.880529,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
import autosklearn.regression

In [48]:
y = merged['month count'].to_frame()
X = merged.drop(['month count', 'STATE'], axis=1)
automl = autosklearn.regression.AutoSklearnRegressor(
    time_left_for_this_task=120,
    per_run_time_limit=30,
    tmp_folder='/content/tmp1'
)
automl.fit(X, y)

[ERROR] [2022-03-28 04:29:23,759:pynisher] Cannot recover the output from /tmp/tmptqhjcwu0/std.out due to [Errno 2] No such file or directory: '/tmp/tmptqhjcwu0/std.out'
[ERROR] [2022-03-28 04:29:23,763:pynisher] Cannot recover the output from /tmp/tmptqhjcwu0/std.err due to [Errno 2] No such file or directory: '/tmp/tmptqhjcwu0/std.err'
[ERROR] [2022-03-28 04:30:03,126:pynisher] Cannot recover the output from /tmp/tmpg9p9r2y6/std.out due to [Errno 2] No such file or directory: '/tmp/tmpg9p9r2y6/std.out'
[ERROR] [2022-03-28 04:30:03,130:pynisher] Cannot recover the output from /tmp/tmpg9p9r2y6/std.err due to [Errno 2] No such file or directory: '/tmp/tmpg9p9r2y6/std.err'

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:197: FutureWarning: From version 0.24, get_params will raise an AttributeError if a parameter cannot be retrieved as an instance attribute. Previously it would return None.
  FutureWarning)

AutoSklearnRegressor(dask_client=None,
                     delete_output_folder_after_terminate=True,
                     delete_tmp_folder_after_terminate=True,
                     disable_evaluator_output=False, ensemble_nbest=50,
                     ensemble_size=50, exclude_estimators=None,
                     exclude_preprocessors=None, get_smac_object_callback=None,
                     include_estimators=None, include_preprocessors=None,
                     initial_configurations_via_metalearning=25,
                     load_models=None, logging_config=None,
                     max_models_on_disc=50, memory_limit=3072,
                     metadata_directory=None, metric=None, n_jobs=None,
                     output_folder=None, per_run_time_limit=30,
                     resampling_strategy='holdout',
                     resampling_strategy_arguments=None, seed=1,
                     smac_scenario_args=None, time_left_for_this_task=120,
                     tmp_folder='/content/tmp1')

In [53]:
import sklearn
train_predictions = automl.predict(X)
print("Train R2 score:", sklearn.metrics.r2_score(y, train_predictions))

Train R2 score: 0.9374131415476447